<a href="https://colab.research.google.com/github/TheKoray18/Metrics/blob/main/Metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

# Metrics Class

In [ ]:
class KyMetrics():

  def MeanSquared(self,data_y,data_pred):

    self.mse_diff = []
    self.mse_sum = 0
    self.mean_result = 0

    if data_y.shape == data_pred.shape:

      for i in range(len(data_pred)):

        self.fark = np.subtract(data_y[i],data_pred[i])
        self.mse_diff.append(np.power(self.fark,2))

      for j in self.mse_diff:

        self.mse_sum +=j
      self.mean_result = np.divide(self.mse_sum,len(self.mse_diff))  

    else:
      print(f"{'data_y'} and {'data_pred'} Shape is not same!")    

    return f"{self.mean_result}"
    
  def RootMeanSquared(self,data_y,data_pred):
    
    self.root_diff = []
    self.root_sum = 0
    self.root_result = 0

    if data_y.shape == data_pred.shape:

       for i in range(len(data_pred)):

        self.fark = np.subtract(data_y[i],data_pred[i])
        self.root_diff.append(np.power(self.fark,2))

       for j in self.root_diff:
         
         self.root_sum +=j
       self.root_result = np.divide(self.root_sum,len(self.root_diff))
       self.root_result = np.sqrt(self.root_result)   

    else:
      print("data_y and data_pred Shapes are not Same!")

    return f"{self.root_result}"
  
  def MeanAbsoluteError(self,data_y,data_pred):

    self.mae_diff = []
    self.mae_sum = 0
    self.absolute_result = 0

    if data_y.shape == data_pred.shape:

      for i in range(len(data_y)):

        self.fark_mae = np.subtract(data_y[i],data_pred[i])
        self.mae_diff.append(np.absolute(self.fark_mae))

      for j in self.mae_diff:

        self.mae_sum +=j
      self.absolute_result = np.divide(self.mae_sum,len(data_y))
      
    else:
      print(f"{'data_y'} and {'data_pred'} Shape is not same!")
      
    return f"{self.absolute_result}" 

  def MeanSquaredLog(self,data_y,data_pred):
    self.log_diff = []
    self.log_sum = 0
    self.log_result = 0

    if data_y.shape == data_pred.shape:

      for i in range(len(data_pred)):

        self.fark = np.subtract(np.log(data_y[i] + 1), np.log(data_pred[i] + 1))
        self.log_diff.append(np.power(self.fark, 2))

      for j in self.log_diff:

        self.log_sum +=j
      self.log_result = np.divide(self.log_sum, len(self.log_diff))

    else:
      print("data_y and data_pred Shape are not Same!")

    return f"{self.log_result}"  

  def R2Score(self,data_y,data_pred):

    self.r2_diff = []
    self.r2_sum = 0
    self.r2_result = 0
    self.pred_ort = np.mean(data_pred)
    self.ort_diff = []
    self.ort_sum = 0
    self.ort_result = 0

    if data_y.shape == data_pred.shape:

      for i in range(len(data_pred)):
        self.fark = np.subtract(data_y[i], data_pred[i])
        self.r2_diff.append(np.power(self.fark, 2))
      
      for j in self.r2_diff:
        self.r2_sum +=j
      self.r2_result = self.r2_sum

      for k in range(len(data_pred)):
        self.ort_fark = np.subtract(data_y[k], self.pred_ort)
        self.ort_diff.append(np.power(self.ort_fark, 2))

      for v in self.ort_diff:
        self.ort_sum +=v
      self.ort_result = self.ort_sum

      self.R2_Score = np.subtract(1, np.divide(self.r2_result, self.ort_result))

    else:
      print("data_y and data_pred Shapes are not Same!")

    return f"{self.R2_Score}"
  
  def Variance_Score(self,data_y,data_pred):

    if data_y.shape == data_pred.shape:
      
      self.fark_var = 0
      self.var_data_y = np.var(data_y)
      self.diff_var = []
      self.diff_result = 0

      for i in range(len(data_pred)):
        
        self.fark_var = np.subtract(data_y[i], data_pred[i])
        self.diff_var.append(self.fark_var)
        self.diff_result = np.var(self.diff_var)
      self.var_result = np.subtract(1, np.divide(self.diff_result, self.var_data_y))
    else:
      print("data_y and data_pred Shapes ara not Same!")
    
    return f"{self.var_result}"
  
  def Max_Error(self,data_y,data_pred):

    if data_y.shape == data_pred.shape:
      self.max_result = 0 
      self.diff_max = []

      for i in range(len(data_pred)):
        self.fark_max = np.subtract(data_y[i], data_pred[i])
        self.diff_max.append(np.abs(self.fark_max))
      self.max_result = np.max(self.diff_max)

    else:
      print("data_y and data_pred Shapes are not Same!")
    
    return f"{self.max_result}"

  def Mean_Gamma(self,data_y,data_pred):

    if data_y.shape == data_pred.shape:
      self.gamma_result = 0 
      self.diff_gamma = []

      for i in range(len(data_pred)):

        self.gamma_divide = np.divide(data_pred[i], data_y[i])
        self.gamma_divide_2 = np.divide(data_y[i],data_pred[i]) - 1
        self.gamma_sum = (np.log(self.gamma_divide) + (self.gamma_divide_2)) * 2
        self.diff_gamma.append(self.gamma_sum)

      for j in self.diff_gamma:
        self.gamma_result +=j
      self.gamma_result = np.divide(self.gamma_result, len(data_pred)) 
    else:
      print("data_y and data_pred Shapes are not Same!")

    return f"{self.gamma_result}"

  def Poisson_Deviance(self,data_y,data_pred):

    if data_y.shape == data_pred.shape:
      self.poi_result = 0
      self.poi_diff = []

      for i in range(len(data_pred)):

        self.log_divide = np.log(np.divide(data_y[i], data_pred[i])) * data_y[i]
        self.fark_divide = np.subtract(data_pred[i], data_y[i])

        self.sum = (self.log_divide + self.fark_divide) * 2
        self.poi_diff.append(self.sum)

      for j in self.poi_diff:

        self.poi_result +=j
      self.poi_result = np.divide(self.poi_result,len(data_pred))
    else:
      print("data_y and data_pred Shapes are not Same!")
    return f"{self.poi_result}"

# Linear Regression Model for Test

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/column_2C_weka.csv')

data = df.copy()

In [4]:
data.head()

   pelvic_incidence  pelvic_tilt numeric  ...  degree_spondylolisthesis     class
0         63.027818            22.552586  ...                 -0.254400  Abnormal
1         39.056951            10.060991  ...                  4.564259  Abnormal
2         68.832021            22.218482  ...                 -3.530317  Abnormal
3         69.297008            24.652878  ...                 11.211523  Abnormal
4         49.712859             9.652075  ...                  7.918501  Abnormal

[5 rows x 7 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   pelvic_incidence          310 non-null    float64
 1   pelvic_tilt numeric       310 non-null    float64
 2   lumbar_lordosis_angle     310 non-null    float64
 3   sacral_slope              310 non-null    float64
 4   pelvic_radius             310 non-null    float64
 5   degree_spondylolisthesis  310 non-null    float64
 6   class                     310 non-null    object
dtypes: float64(6), object(1)
memory usage: 17.1+ KB

In [5]:
data['class'] = [1 if i=='Abnormal' else 0 for i in data['class']]

data.head()

   pelvic_incidence  pelvic_tilt numeric  ...  degree_spondylolisthesis  class
0         63.027818            22.552586  ...                 -0.254400      1
1         39.056951            10.060991  ...                  4.564259      1
2         68.832021            22.218482  ...                 -3.530317      1
3         69.297008            24.652878  ...                 11.211523      1
4         49.712859             9.652075  ...                  7.918501      1

[5 rows x 7 columns]

In [6]:
y = data['pelvic_incidence']

y.head()

0    63.027818
1    39.056951
2    68.832021
3    69.297008
4    49.712859
Name: pelvic_incidence, dtype: float64

In [7]:
x = data.drop('pelvic_incidence',axis=1)

x.head()

   pelvic_tilt numeric  lumbar_lordosis_angle  ...  degree_spondylolisthesis  class
0            22.552586              39.609117  ...                 -0.254400      1
1            10.060991              25.015378  ...                  4.564259      1
2            22.218482              50.092194  ...                 -3.530317      1
3            24.652878              44.311238  ...                 11.211523      1
4             9.652075              28.317406  ...                  7.918501      1

[5 rows x 6 columns]

In [8]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=18)

In [9]:
print(f"x_train = {x_train.shape}")
print(f"y_train = {y_train.shape}")
print(f"x_test = {x_test.shape}")
print(f"y_test = {y_test.shape}")

x_train = (207, 6)
y_train = (207,)
x_test = (103, 6)
y_test = (103,)

In [10]:
from sklearn.preprocessing import StandardScaler

s_sca = StandardScaler()

x_train = s_sca.fit_transform(x_train)
x_test = s_sca.fit_transform(x_test)

In [11]:
from sklearn.linear_model import LinearRegression

lr_model = LinearRegression()
lr_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
y_pred = lr_model.predict(x_test)

In [13]:
y_pred[:10]

array([64.90827292, 72.24290221, 55.52005859, 56.41906524, 90.9093565 ,
       76.1514183 , 40.2793302 , 54.63437969, 66.83104974, 58.8638718 ])

In [15]:
y_test

307    61.446597
201    67.513053
134    52.204693
6      53.432928
224    89.834676
         ...
48     40.557357
52     50.209670
140    69.563486
294    46.236399
169    44.253476
Name: pelvic_incidence, Length: 103, dtype: float64

In [17]:
y_test_index = y_test.reset_index(drop=True)
y_test_index

0      61.446597
1      67.513053
2      52.204693
3      53.432928
4      89.834676
         ...
98     40.557357
99     50.209670
100    69.563486
101    46.236399
102    44.253476
Name: pelvic_incidence, Length: 103, dtype: float64

# Random Forest Regression

In [ ]:
from sklearn.ensemble import RandomForestRegressor

ran_for = RandomForestRegressor(n_estimators = 10)

ran_for.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=10, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
y_pred_for = ran_for.predict(x_test)

In [ ]:
y_pred_for[:10]

array([62.97517921, 69.96501934, 55.13344665, 53.91608999, 82.87248561,
       76.08813907, 41.79316702, 57.59524012, 67.83965911, 55.96087222])

In [ ]:
mse_for = mean_squared_error(y_test_index,y_pred_for)
r2_for =  r2_score(y_test_index,y_pred_for)

mse_for_ky = ky.MeanSquared(y_test_index,y_pred_for)
r2_for_ky = ky.R2Score(y_test_index,y_pred_for)

print(f"Mse Forest : {mse_for}\nMse_KY Forest : {mse_for_ky}\nR2_for : {r2_for}\nR2_KY_for : {r2_for_ky}")

Mse Forest : 46.965035506383686
Mse_KY Forest : 46.965035506383686
R2_for : 0.8271756615110439
R2_KY_for : 0.8293884826553675

# Sklearn.metrics Test

In [ ]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,mean_squared_log_error,r2_score
from sklearn.metrics import explained_variance_score,max_error,mean_gamma_deviance,mean_poisson_deviance

cache = {'Mean Squared Error':mean_squared_error(y_pred,y_test_index),
         'Root Mean Squared Error':np.sqrt(mean_squared_error(y_pred,y_test_index)),
         'Mean Absolute Error':mean_absolute_error(y_pred,y_test_index),
         'Mean Squared Log Error':mean_squared_log_error(y_pred,y_test_index),
         'R2 Score':r2_score(y_pred,y_test_index),
         'Explained Variance Score':explained_variance_score(y_test_index,y_pred),
         'Max Error':max_error(y_test_index,y_pred),
         'Mean Gamma Deviance':mean_gamma_deviance(y_test_index,y_pred),
         'Mean Poisson Deviance':mean_poisson_deviance(y_test_index,y_pred)
         }

keys = list(cache.keys())
values = list(cache.values())

for i,j in zip(keys,values):
  print(i,":",j)

Mean Squared Error : 9.321285836706835
Root Mean Squared Error : 3.053078092140264
Mean Absolute Error : 2.777415454704597
Mean Squared Log Error : 0.0031785540149521867
R2 Score : 0.9634837349456867
Explained Variance Score : 0.9920341500623429
Max Error : 7.340906549849862
Mean Gamma Deviance : 0.003230534364389151
Mean Poisson Deviance : 0.16692986067198978

# Ky.metrics Test

In [ ]:
ky = KyMetrics()

In [ ]:
cache_ky = {'Mean Squared Error':ky.MeanSquared(y_test_index,y_pred),
         'Root Mean Squared Error':ky.RootMeanSquared(y_test_index,y_pred),
         'Mean Absolute Error':ky.MeanAbsoluteError(y_test_index,y_pred),
         'Mean Sqaured Log Error':ky.MeanSquaredLog(y_test_index,y_pred),
         'R2_Score':ky.R2Score(y_test_index,y_pred),
         'Variance Score':ky.Variance_Score(y_test_index,y_pred),
         'Max Error': ky.Max_Error(y_test_index,y_pred),
         'Mean Gamma Deviance':ky.Mean_Gamma(y_test_index,y_pred),
         'Mean Poisson Deviance':ky.Poisson_Deviance(y_test_index,y_pred)
         }

key = list(cache_ky.keys())
value = list(cache_ky.values())

for i,j in zip(key,value):
  print(i,":",j)

Mean Squared Error : 9.32128583670683
Root Mean Squared Error : 3.053078092140263
Mean Absolute Error : 2.777415454704596
Mean Sqaured Log Error : 0.003178554014952188
R2_Score : 0.966579195901584
Variance Score : 0.9920341500623429
Max Error : 7.340906549849862
Mean Gamma Deviance : 0.0032305343643891375
Mean Poisson Deviance : 0.16692986067199056