<a href="https://colab.research.google.com/github/TheKoray18/Metrics/blob/main/Metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np

# Metrics Class

In [141]:
class KyMetrics():

  def MeanSquared(self,data_y,data_pred):

    self.mse_diff = []
    self.mse_sum = 0
    self.mean_result = 0

    if data_y.shape == data_pred.shape:

      for i in range(len(data_pred)):

        self.fark = np.subtract(data_y[i],data_pred[i])

        self.mse_diff.append(np.power(self.fark,2))

      for j in self.mse_diff:

        self.mse_sum +=j

      self.mean_result = np.divide(self.mse_sum,len(self.mse_diff))  

    else:
      print(f"{'data_y'} and {'data_pred'} Shape is not same!")    

    return f"Mean Squared Error: {self.mean_result}"
    
  def RootMeanSquared(self,data_y,data_pred):

    if data_y.shape == data_pred.shape:

      self.root_result = np.sqrt(self.mean_result)

    else:
      print(f"{data_pred} and {data_pred} Shape is not same!")

    return f"Root Mean Squared Error : {self.root_result}"
  
  def MeanAbsoluteError(self,data_y,data_pred):

    self.mae_diff = []
    self.mae_sum = 0
    self_absolute_result = 0

    if data_y.shape == data_pred.shape:

      for i in range(len(data_y)):

        self.fark_mae = np.subtract(data_y[i],data_pred[i])

        self.mae_diff.append(np.absolute(self.fark_mae))

      for j in self.mae_diff:

        self.mae_sum +=j

      self.absolute_result = np.divide(self.mae_sum,len(data_y))
    else:
      print(f"{'data_y'} and {'data_pred'} Shape is not same!")
      
    return f"{self.absolute_result}"

# Linear Regression Model for Test

In [4]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

In [6]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/column_2C_weka.csv')

data = df.copy()

In [ ]:
data.head()

   pelvic_incidence  pelvic_tilt numeric  ...  degree_spondylolisthesis     class
0         63.027818            22.552586  ...                 -0.254400  Abnormal
1         39.056951            10.060991  ...                  4.564259  Abnormal
2         68.832021            22.218482  ...                 -3.530317  Abnormal
3         69.297008            24.652878  ...                 11.211523  Abnormal
4         49.712859             9.652075  ...                  7.918501  Abnormal

[5 rows x 7 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   pelvic_incidence          310 non-null    float64
 1   pelvic_tilt numeric       310 non-null    float64
 2   lumbar_lordosis_angle     310 non-null    float64
 3   sacral_slope              310 non-null    float64
 4   pelvic_radius             310 non-null    float64
 5   degree_spondylolisthesis  310 non-null    float64
 6   class                     310 non-null    object
dtypes: float64(6), object(1)
memory usage: 17.1+ KB

- numeric değişkenleri alma

In [7]:
num_columns = [col for col in data.columns if data[col].dtype == 'float64']

num_columns

['pelvic_incidence',
 'pelvic_tilt numeric',
 'lumbar_lordosis_angle',
 'sacral_slope',
 'pelvic_radius',
 'degree_spondylolisthesis']

- categoric değişkenleri alma

In [ ]:
cat_cols = [col for col in data.columns if data[col].dtype == 'object']

cat_cols

['class']

In [8]:
data['class'] = [1 if i=='Abnormal' else 0 for i in data['class']]

data.head()

   pelvic_incidence  pelvic_tilt numeric  ...  degree_spondylolisthesis  class
0         63.027818            22.552586  ...                 -0.254400      1
1         39.056951            10.060991  ...                  4.564259      1
2         68.832021            22.218482  ...                 -3.530317      1
3         69.297008            24.652878  ...                 11.211523      1
4         49.712859             9.652075  ...                  7.918501      1

[5 rows x 7 columns]

In [9]:
y = data['pelvic_incidence']

y.head()

0    63.027818
1    39.056951
2    68.832021
3    69.297008
4    49.712859
Name: pelvic_incidence, dtype: float64

In [10]:
x = data.drop('pelvic_incidence',axis=1)

x.head()

   pelvic_tilt numeric  lumbar_lordosis_angle  ...  degree_spondylolisthesis  class
0            22.552586              39.609117  ...                 -0.254400      1
1            10.060991              25.015378  ...                  4.564259      1
2            22.218482              50.092194  ...                 -3.530317      1
3            24.652878              44.311238  ...                 11.211523      1
4             9.652075              28.317406  ...                  7.918501      1

[5 rows x 6 columns]

In [11]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=18)

In [12]:
print(f"x_train = {x_train.shape}")
print(f"y_train = {y_train.shape}")
print(f"x_test = {x_test.shape}")
print(f"y_test = {y_test.shape}")

x_train = (207, 6)
y_train = (207,)
x_test = (103, 6)
y_test = (103,)

In [13]:
from sklearn.preprocessing import StandardScaler

s_sca = StandardScaler()

x_train = s_sca.fit_transform(x_train)
x_test = s_sca.fit_transform(x_test)

In [14]:
from sklearn.linear_model import LinearRegression

lr_model = LinearRegression()
lr_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
y_pred = lr_model.predict(x_test)

In [16]:
y_pred[:10]

array([64.90827292, 72.24290221, 55.52005859, 56.41906524, 90.9093565 ,
       76.1514183 , 40.2793302 , 54.63437969, 66.83104974, 58.8638718 ])

In [17]:
type(y_pred)

numpy.ndarray

In [19]:
zero_index = np.where(y_pred == 60)

zero_index

(array([], dtype=int64),)

In [ ]:
y_test

307    61.446597
201    67.513053
134    52.204693
6      53.432928
224    89.834676
         ...
48     40.557357
52     50.209670
140    69.563486
294    46.236399
169    44.253476
Name: pelvic_incidence, Length: 103, dtype: float64

In [ ]:
type(y_test)

pandas.core.series.Series

In [21]:
y_test_index = y_test.reset_index(drop=True)
y_test_index

0      61.446597
1      67.513053
2      52.204693
3      53.432928
4      89.834676
         ...
98     40.557357
99     50.209670
100    69.563486
101    46.236399
102    44.253476
Name: pelvic_incidence, Length: 103, dtype: float64

# Sklearn.metrics Test

In [142]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

mse = mean_squared_error(y_pred,y_test_index)

rmse = np.sqrt(mse)

mae = mean_absolute_error(y_pred,y_test_index)

print(f"Mean Sqaured Error : {mse}\nRmse : {rmse}\nMean Absolute Error : {mae}")

Mean Sqaured Error : 9.321285836706835
Rmse : 3.053078092140264
Mean Absolute Error : 2.777415454704597

# Ky.metrics Test

In [143]:
ky = KyMetrics()

In [148]:
ky.MeanSquared(y_test_index,y_pred)

'Mean Squared Error: 9.32128583670683'

In [150]:
ky.RootMeanSquared(y_test_index,y_pred)

'Root Mean Squared Error : 3.053078092140263'

In [152]:
ky.MeanAbsoluteError(y_test_index,y_pred)

'2.777415454704596'

In [153]:
ky_mse = ky.MeanSquared(y_test_index,y_pred)
ky_rmse = ky.RootMeanSquared(y_test_index,y_pred)
ky_mae = ky.MeanAbsoluteError(y_test_index,y_pred)

print(f"ky_mse : {ky_mse}\nky_rmse : {ky_rmse}\nky_mae : {ky_mae}")

ky_mse : Mean Squared Error: 9.32128583670683
ky_rmse : Root Mean Squared Error : 3.053078092140263
ky_mae : 2.777415454704596